.nav-border-bottom {
    border-bottom: 3px solid $marked-color;
}

.no-mask-image {
    mask-image: none !important;
    background: none !important;
}

.preview-avatar .b-avatar-img img {
    object-fit: initial !important;
}