body,
html {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: roboto;
  letter-spacing: .3px;
}

.text-highlight {
  color: $highlight-color;
}

.text-marked {
  color: $marked-color;
}

.bg-highlight {
  background-color: $highlight-color;
}

.bg-marked {
  background-color: $marked-color;
}

.poppins {
  font-family: "poppins";
}

.custom-background {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/background5.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

.page-title {
  font-family: poppins;
  font-size: 48px;
  font-weight: 700;
  color: $highlight-color;
  text-align: center;
}

.title {
  font-family: poppins;
  font-weight: 700
}

.divider {
  width: 90%;
  border-width: 4px;
  background-color: $marked-color;
  margin-top: 1.5rem;
}

table * {
  cursor: default;

  td {
    vertical-align: middle !important;
    text-align: center !important;
  }
}

.custom-file-input:lang(hu)~.custom-file-label::after {
  content: 'Megnyitás';
}

.avatar-icon {
  margin-top: -60px;
}

@media (max-width: 1199.98px) {
  .avatar-icon {
    margin-top: 0px;
  }
}