/*======================================
    Change Password CSS
========================================*/
.change-password {
    background-color: $gray;

    .password-content {
        padding: 30px;
        background-color: $white;
        border: 1px solid #eee;
        border-radius: 6px;

        h3 {
            font-size: 22px;
            font-weight: 700;
        }

        p {
            display: block;
            margin-top: 5px;
        }

        form {
            margin-top: 30px;

            label {
                color: $black;
                font-size: 14px;
                display: block;
                margin-bottom: 5px;
            }

            input {
                height: 50px;
                width: 100%;
                border: 1px solid #eee;
                border-radius: 5px;
                padding: 0px 20px;
                font-size: 14px;
            }
        }

        .form-group {
            margin-bottom: 15px;
        }

        .button {
            .btn {
                padding: 12px 25px;
            }
        }
    }
}